@import '../../styles_util/util';
@import '../../styles_util/fonts.scss';

.services {
  height: 100vh;
  background-image: linear-gradient(to bottom left, #2d142c, #510a32);
  @include display;
  flex-direction: column;

  & > h1 {
    margin: 0;
    text-align: left;
    padding: 20px 0 0 20px;
  }

  &_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 60%;
    margin-top: 50px;

    @media (min-width: 700px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    
      & :nth-child(2),
      & :nth-child(3) {
        margin-right: 20px;
      }
    }



    & div {
      border: 1px solid black;
      width: 150px;
      margin-bottom: 10px;
      height: 130px;
      box-shadow: 1px 1px 4px -1px #fff;
      border-radius: 10px;
      @include display;
     flex-direction: column;

      @media (min-width: 455px) {
        width: 180px;
        height: 160px;
      }

      @media (min-width: 540px) {
        width: 200px;
      }

      @media (min-width: 603px) {
        width: 220px;
      }

      @media (min-width: 660px) {
        width: 240px;
      }

      @media (min-width: 700px) {
        margin: 10px;
      }

      & h3 {
        font-size: 14px;
        font-family: 'Lora';
        font-weight: 600;

        @media (min-width: 700px) {
          font-size: 18px;
        }
      }

      & p {
        font-size: 12px;

        @media (min-width: 700px) {
          font-size: 16px;
        }
      }
    }
  }
}