@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin backgroundProperty {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}