@import '../../styles_util/util';

.about {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #252525, #0d4671);
    @include display;
    flex-direction: column;
    color: #fff;

    &_image {
       width: 100%;
       height: 40%;
       position: relative;
       bottom: 30%;
       background-position: top right;
       background-repeat: no-repeat;
       background-size: cover;

       @media (min-width: 750px) {
        height: 40%;
       }
    }

    &_content {
        position: absolute;
        width: 85%;
        max-width: 700px;
        height: 65%;
        background-color: rgb(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        overflow: hidden;
        padding: 5px;
        box-shadow: 1px 1px 50px 1px black;
        border-radius: 20px;
        @include display;
        flex-direction: column;

        & :first-child {
            margin-bottom: 0;
        }

        &_subtitle {
            margin: 0;
        }

        &-paragraph {
            border: 2px double grey;
            padding: 5px;
            max-width: 600px;
            max-height: 150px;
            font-size: 13px;
            font-style: italic;
            font-weight: 600;
            margin-top: 10px;
            background-color: rgb(255, 255, 255, 0.1);
            color: #fff;

            @media (min-width: 700px) {
                font-size: 18px;
            }
        }
    }
}

.skillset {
    width: 100%;

    & h2 {
        font-size: 1em;
    }

    &_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    height: 110px;
    margin-top: 20px;

        & div {
            border: 2px solid yellow;
            background-color: yellow;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            font-weight: 700;
            border-radius: 50px;
            color: #000;
        }
    }
}