@import '../../styles_util//util';
@import '../../styles_util/fonts.scss';

.home {
  height: 100vh;
  @include display;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #38A2D7, #561139);

  & h1 {
    @media (min-width: 700px) {
      font-size: 42px;
    }
  }

  & p {
    font-family: 'Dancing Script';

    @media (min-width: 700px) {
      font-size: 24px;
    }
  }

  &_socials-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 10px;
    padding: 0;
    width: 150px;
    height: 50px;

    @media (min-width: 700px) {
      width: 210px;
    }

    & img {
        width: 30px;
        height: 30px;

        @media (min-width: 700px) {
          width: 45px;
          height: 45px;
        }
    }

    & li {
        list-style: none;
    }
  }
}

.home * {
  margin: 0;
}
