.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    bottom: 30px;
    left: 0;
    right: 0;

    &_container {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      height: 45px;
      width: 250px;
      border-radius: 20px;
      padding: 7px;
      box-shadow: 1px 1px 5px 1px grey;
      background-color: #233a4e;
      z-index: 10;
    }

    & a {
        text-decoration: none;
        margin: 0;
        padding: 0;
    }

    & li {
        border: 1px solid white;
        width: 40px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px #fff;
        background-color: #fff;
    }
}